---
# Only the main Sass file needs front matter (the dashes are enough)
---

// System fonts
@import "system-font-css/_system-font";

// Custom variables and variable overwrites.
@import "theme/variables";

// Import default variables and available mixins.
@import "uikit/variables-theme";
@import "uikit/mixins-theme";

// Custom mixin overwrites.
@import "theme/mixins";

// Import UIkit.
@import "theme/uikit";

// Other vendor styles
// @import "syntax-highlighting/cld";
@import "syntax-highlighting/bw";

// Custom Hederis styles

aside[data-hederis-type="hwprbox"] {
  border-left: 6px solid #00ff00;
  padding-left: 10px;
  margin: 15px 0 15px 20px;
}

aside[data-hederis-type="hwprbox"] p[data-hederis-type="hblktype"] {
  font-weight: bold;
}

img[data-hederis-type="hblkimg"] {
  border: 1px solid #808080;
}

p[data-hederis-type="hblkcaption"] {
  font-style: italic;
  font-size: 0.9em;
}

p[data-hederis-type="hblkh1"] {
  font-size: 1.6rem;
  font-weight: bold;
}

*[data-step-type="dashboard"],
*[data-step-type="design"],
*[data-step-type="design-design"],
*[data-step-type="design-pagelayout"],
*[data-step-type="structure"] {
  background-color: #DBFFDB;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: auto 40px;
  padding: 40px 10px 10px 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

*[data-step-type="dashboard"] {
  background-image: url("../../images/dashboard-mode.png");
}

*[data-step-type="design"] {
  background-image: url("../../images/design-mode.png");
}

*[data-step-type="design-design"] {
  background-image: url("../../images/design-mode-design.png");
}

*[data-step-type="design-pagelayout"] {
  background-image: url("../../images/design-mode-pagelayout.png");
}

*[data-step-type="structure"] {
  background-image: url("../../images/edit-mode.png");
}

*[data-step-type="external"] {
  background-color: #f8f8ff;
  padding: 10px 10px 10px 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

*[data-step-type="bifurcate"] {
  background-image: url("../../images/bifurcated.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

*[data-step-type="single"] {
  background-image: url("../../images/single-flow.png");
  background-position: center;
  background-repeat: repeat-y;
  background-size: 15px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

*[data-step-type="single"],
*[data-step-type="bifurcate"] {
  margin-bottom: 0;
}

blockquote[data-step-type="single"],
blockquote[data-step-type="bifurcate"] {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote[data-step-type="single"],
blockquote[data-step-type="bifurcate"],
blockquote[data-step-type="left"],
blockquote[data-step-type="right"] {
  border-left-width: 0px;
}

*[data-step-type="left"] {
  width: 50%;
}

*[data-step-type="right"] {
  width: 50%;
}

*[data-step-type="start"] {
  width: 15%;
  border-width: 0;
  margin-bottom: 0;
}

*[data-step-type="end"] {
  width: 15%;
  border-width: 0;
  margin-top: 0;
}

.article-content figure[data-step-type="start"],
.article-content figure[data-step-type="end"] {
  text-align: center;
  margin: 0 auto 0 auto;
}

.article-content figure[data-step-type="start"] img,
.article-content figure[data-step-type="end"] img {
  border-width: 0;
  margin: 0 auto 0 auto;
  border: solid 1px transparent;
  box-shadow: 0px 0px 0px transparent;
  border-radius: 0px;
}