div.nav.white h1 a {
  background-image: url("/images/Hederiswordmark_green@2x.png");
  background-size: auto 45px;
  background-repeat: no-repeat;
  height: 45px;
  width: 154px;
  display: inline-block;
}

nav.navbar {
  display: block;
}

ul.navbar-nav.nav {
  display: block;
  padding-bottom: 20px;
}

div.mobile_nav_hider, div.nav {
  display: block;
}

ul.navbar-nav.nav.collapse:not(.show) {
  display: none;
}

#pricing nav h2 {
  font-size: 2rem;
  margin: 10px 0;
  padding: 0;
}

#pricing nav h3 {
  margin: 10px 0;
  padding: 0;
  border-bottom: 1px solid #21172E;
}

li.nav-item:not(.bsauto) {
  font-size: 1.1rem;
  margin-left: 10px;
  text-indent: -10px;
  list-style-type: disc;
}

#pricing li.nav-item:not(.bsauto) {
  font-size: 1.1rem;
}

.nav-link {
    padding: 0;
}

#pricing a.nav-link:hover {
  font-weight: 300;
  color: #00FF00;
}